.toast {
    z-index: 10;
    width: 80% !important;
    top: 10% !important;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.85);
    border-width: 1px;
    right: 5%;
    border-radius: 0.375rem;
    text-align: center;
    padding: 5%;
}

.linkText{
    color: white;
    background-color: rgb(51, 18, 18);
    padding: 3%;
    border-radius: 5rem;
}

.mr-auto{
   background-color: rgba(255, 255, 255, 0.85); 
}