@font-face {
  font-family: "ddangs";
  src: url("../public/font/땅스부대찌개OTF_Bold.otf");
}

@font-face {
  font-family: "hyemin";
  src: url("../public/font/IM_Hyemin-Bold.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ddangs;
}

span, p, div {
  font-family: hyemin;
}

.customBox {
  margin: 3rem auto;
  padding: 1rem;
  top: 15rem;
  text-align: center;
  width: 18rem;
  height: fit-content;
  border-radius: 24px;
  border : 0.4rem solid rgb(75, 31, 15);
  text-align: center;
}

.title{
  margin: 0 auto;
  top: 5rem;
  width: 9rem;
  position: relative;
  text-align: center;
  padding: 0.2rem;
  background-color: white;
}

button {
  background-color: rgb(75, 31, 15);
  color: white;
  border-radius: 16px;
  margin: 8px;
}
