.profile {
  width: 30%;
  margin: 8%;
  max-width: 200px;
}

.choiceBtn {
  display: block;
  width: 70%;
  margin: auto;
  max-width: 600px;
  margin-bottom: 3rem;
  border-style: outset;
  border-width: 30px 30px 30px 30px;
  border-radius: 40px;
  border-color: rgb(75, 31, 15);
  background-color: rgb(105, 73, 61);
}

.explain {
  width: 80%;
  max-width: 600px;
  display: block;
  margin: auto;
  margin-top: 2%;
}

