.profile {
  width: 30%;
  margin: 8%;
  max-width: 200px;
}

.choiceBtn {
  display: block;
  width: 70%;
  margin: auto;
  max-width: 600px;
  margin-bottom: 3rem;
}

.explain {
  width: 80%;
  max-width: 600px;
  display: block;
  margin: auto;
  margin-top: 2%;
}

.box {
  left: 0px;
  right: 0px;
  max-height: 100%;
}
