.mypageTopBox {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.mypageTopBtn{
    background-color: rgb(255, 249, 228);
    border: 0;
    color: rgb(75, 31, 15);
    cursor: pointer;
    text-decoration: underline;
}

.linkBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 9rem;
}
