.img {
  width: 5rem;
  margin-top: 10%;
  left : calc(50% - 10rem);
}

.button {
  width: 6.5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.buttons {
  margin: 0 auto;
  width: fit-content;
}
