.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timer {
  margin-top: 10px;
}

/* .videoBox {
    width: 100vw;
    height: 80vh;
} */

.messageBox {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  /* position: absolute; */
}

.formBox {
    position: absolute;
  display: flex !important;
  margin-top: 10px;
  width: 95%;
  bottom: 10px;
} 

.inputBox {
  width: 100%;
  margin-left: 0.5rem;
  height: 2rem;
  border: 3px solid rgb(75, 31, 15);
  border-radius: 10px;
  padding-left: 10px;
}

.localVideo {
  width: 30%;
  background-color: "black";
  position: absolute;
  left: 70%;
  /* transform: translate(-50%, -50%); */
  /* object-fit: fill; */
}

.remoteVideo {
  padding: 0;
  overflow: hidden;
  object-fit: fill;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.btn {
  width: 3rem;
  margin: 0.5rem;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(0, -80px);
}

.submitBtn{
    margin-left: 8px;
    height: 2.5rem;
    width: 5rem;
}

.brown{
    height: 0.6rem;
    width: 100%;
    background-color: rgb(75, 31, 15);
}