.requestPinImg {
    width: 10rem;
    position: fixed;
    left: calc(50% - 4.9rem);
    bottom: 45%;
    
}

.meerkatPinImg {
    width: 10rem;
    position: fixed;
    left: calc(50% - 3.6rem);
    bottom: 45%;
}                                                                                                                                                                                           