.requestPinImg {
    width: 10rem;
    position: fixed;
    left: calc(50% - 3.6rem);
    top: 30%;
}

.meerkatPinImg {
    width: 10rem;
    position: fixed;
    left: calc(50% - 3.6rem);
    top: 30%;
}